<section class="mpp-features">
    <div class="container">
        <h2>Почему выбирают нас</h2>
    </div>
    <div class="mpp-features-wrap container">
        <ul class="mpp-features-grid">
                <li>
                    <img src="https://static.wow2print.com/storage/445/content/image/87496312565e85c9332a258.92960558.webp" />
                    <div class="mpp-feature-body">
                        <h3>Собственное производство</h3>
                        <p>Позволяет отследить каждый заказ и обеспечить гарантию качества</p>
                    </div>
                </li>
                <li>
                    <img src="https://static.wow2print.com/storage/445/content/image/87496312565e85c9332a258.92960558.webp" />
                    <div class="mpp-feature-body">
                        <h3>Собственное производство</h3>
                        <p>Позволяет отследить каждый заказ и обеспечить гарантию качества</p>
                    </div>
                </li>
                <li>
                    <img src="https://static.wow2print.com/storage/445/content/image/87496312565e85c9332a258.92960558.webp" />
                    <div class="mpp-feature-body">
                        <h3>Собственное производство</h3>
                        <p>Позволяет отследить каждый заказ и обеспечить гарантию качества</p>
                    </div>
                </li>
                <li>
                    <img src="https://static.wow2print.com/storage/445/content/image/87496312565e85c9332a258.92960558.webp" />
                    <div class="mpp-feature-body">
                        <h3>Собственное производство</h3>
                        <p>Позволяет отследить каждый заказ и обеспечить гарантию качества</p>
                    </div>
                </li>
                <li>
                    <img src="https://static.wow2print.com/storage/445/content/image/87496312565e85c9332a258.92960558.webp" />
                    <div class="mpp-feature-body">
                        <h3>Собственное производство</h3>
                        <p>Позволяет отследить каждый заказ и обеспечить гарантию качества</p>
                    </div>
                </li>
        </ul>
    </div>
</section>

<style scoped lang="scss">
    .mpp-features {
    padding: 2em 0;
    background-color: #F8714C;
    h2 {
        font-size: 1.25rem;
        font-weight: 500;
        color: #fff;
        margin: 0 0 .5em;
        letter-spacing: 0.07em;
    }

}

.mpp-features-wrap {
    overflow-x: auto;
}

.mpp-features-grid {
    display: flex;
    gap: 2em;
    display: flex;
    flex-flow: row;
    min-width: 100%;
    padding: 0.7em 0 0;

    & li {
        background: #fff;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
        outline: 1px solid rgba(0,0,0,0);
        transition: ease .5s;
        min-width: 210px;
        &:hover {
            outline: 1px solid #F8714C;
        }
    }

    & img {
        object-fit: cover;
        // width: 100%;
        min-height: 175px;
    }

    & h3 {
        font-family: "Montserrat";
        font-size: .875rem;
        font-weight: 600;
    }
    & p {
        font-size: .8125rem;
        line-height: 1.4;
        margin: 0.6em 0 0 0;
    }
}

    .mpp-feature-body {
        padding: 0.75em 1em 1em;
    }
</style>