---
import Logo from '../components/icons/Logo.astro';
import Rating from '../components/Footer/Rating.astro';
import FooterMenu from '../components/Footer/Menu.astro';
import Socials from '../components/Footer/Socials.astro';
import ABP from '../components/Footer/ABP.astro';
import Docs from '../components/Footer/Docs.astro';
import SiteMap from './SiteMap.astro';
---

<footer class="mpp-footer">
    <div class="mpp-footer-wrap container">
        <div class="mpp-footer-logo"><Logo /></div>
        <div class="mpp-footer-rating"><Rating /></div>
        <div class="mpp-footer-abp"><ABP /></div>
        <Socials />
        <FooterMenu />
        <SiteMap />
        <Docs />
    </div>
</footer>

<style is:global lang="scss">
    .mpp-footer {
        margin: 1.5rem 0 0;
        position: relative;
        padding: 1.5em 0;
        background-color: #F0F0F0;
        @media (min-width: 768px) {
            margin: 2.5rem 0 0;
            padding: 2.5em 0;
        }
        @media (min-width: 992px) {
            padding: 3.5em 0;
        }
        &.mpp-footer--show-sitemap {
            box-shadow: 0 -10px 10px 0 rgba(0, 0, 0, 0.1);
        }
    }
    .mpp-footer-wrap {
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "logo rating"
            "abp abp"
            "social social"
            "menu menu"
            "map map"
            "doc doc";
        grid-template-rows: repeat(4, max-content) 0 max-content;
        transition: grid-template-rows ease .5s;
        @media (min-width: 768px) {
            grid-template-areas:
                "logo abp rating"
                "menu menu menu"
                "map map map"
                "social doc doc";
            grid-gap: 0 1em;
            grid-template-rows: repeat(2, max-content) 0 max-content;
        }
        @media (min-width: 992px) {
            grid-template-areas:
                "logo menu menu"
                "abp menu menu"
                "rating social social"
                "map map map"
                "doc doc doc";
            grid-template-rows: repeat(3, max-content) 0 max-content;
        }
        @media (min-width: 1200px) {
            grid-template-areas:
                "logo menu menu"
                "abp menu menu"
                "rating social social"
                "map map map"
                "doc doc doc";
        }
        grid-gap: 1em 0;
        @media (min-width: 768px) and (max-width: 992px) {
            grid-gap: 1em 2em;
        }
        & li, & li > a {
            font-size: .75rem;
        }
        &.mpp-footer-wrap--show-sitemap {
            // .mpp-sitemap-title {
            //     display: block;
            // }
            & .mpp-sitemap {
                padding: 1.5em 0;
                @media (max-width: 768px) {
                    position: fixed;
                    left: 0;
                    top: 0;
                    right: 0;
                    margin: 1em;
                    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.75);
                    height: calc(100vh - 2em);
                    z-index: 12;
                }
            }
            @media (min-width: 768px) {
                grid-template-rows: repeat(2, 0) 1fr max-content;
            }
            @media (min-width: 992px) {
                grid-template-rows: repeat(3, 0) 1fr max-content;
            }
        }
    }
    .mpp-footer-logo {
        grid-area: logo;
        overflow: hidden;
    }
    .mpp-footer-rating {
        grid-area: rating;
        overflow: hidden;
        @media (max-width: 768px) {
            text-align: right;
        }
    }
    .mpp-footer-abp {
        grid-area: abp;
        overflow: hidden;
    }
    .mpp-footer-menu-list-socials {
        grid-area: social;
        height: 26px;
        @media (min-width: 992px) {
            justify-content: flex-end;
        }
    }
    .mpp-footer-menu {
        grid-area: menu;
        overflow: hidden;
    }
    .mpp-sitemap {
        grid-area: map;
    }
    .mpp-footer-doc {
        grid-area: doc;
    }
</style>