<div class="mpp-get-photoproducts-for-mobile container">
    <div class="mpp-get-photoproducts-for-mobile-wrap">
        <div class="mpp-get-photoproducts-for-mobile-text">
            <h3>Собирайте&nbsp;фотопродукты<br>в мобильной версии</h3>
            <ul>
                <li>Экономьте время, получайте классный результат</li>
                <li>Понятный интерфейс, удобный конструктор</li>
                <li>Ваши проекты доступны в любой момент</li>
            </ul>
        </div>
        <img loading="lazy" height="230" src="https://static.wow2print.com/storage/445/content/image/163137766765fa76dce0a304.50762931.webp" alt="">
    </div>
</div>

<style  lang="scss">
    .mpp-get-photoproducts-for-mobile {
        background-color: #f1edfc;
        border-radius: 15px;
        overflow: hidden;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .mpp-get-photoproducts-for-mobile-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.3rem 1.7rem 0;
    }
    .mpp-get-photoproducts-for-mobile-text {
        & h3 {
            font-size: 1.75rem;
            font-weight: 500;
            line-height: 130%;
            margin: 0 0 0.3em;
        }
        & ul {
            padding: 0 0 0 1.2em;
            line-height: 160%;
        }
        & li {
            list-style-type: disc;
            font-size: .875rem;
            font-weight: 500;
            &::marker {
                font-size: 7px;
            }
        }
        
    }
</style>