<div class="mpp-gift-sertificate container">
    <div class="mpp-gift-sertificate-wrap">
        <img loading="lazy" src="https://static.wow2print.com/storage/445/content/image/164511775065fa7cd46f9709.49522415.webp" alt="">
        <div class="mpp-gift-sertificate__body">
            <h3>Электронный подарочный сертификат</h3>
            <ul>
                <li>10 дизайнов для выбора.</li>
                <li>Сюрприз к любому событию.</li>
                <li>Номиналом 1000, 1500, 2000, 3000, 5000 ₽</li>
            </ul>
        </div>
    </div>
    
</div>

<style scoped lang="scss">
    .mpp-gift-sertificate {
        & img {
            object-fit: cover;
            width: 100%;
            min-height: 250px;
        }
        & h3 {
            font-size: .875rem;
            margin: 0 0 0.3em;
        }
        & li {
            list-style-type: none;
            font-size: .8125rem;
        }
        @media (min-width: 768px) {
            display: none;
        }
    }
    .mpp-gift-sertificate-wrap {
        position: relative;
        border-radius: 15px;
        overflow: hidden;
    }
    .mpp-gift-sertificate__body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 1.2em;

        
    }
</style>