---
const { title, reviews } = Astro.props
---

<!-- <section class="mpp-reviews">
    <h2>{title}</h2>
    <ol class="mpp-reviews-row">
        {
            reviews.map(item => 
                <li class="mpp-reivew-item" set:html={body} />
            )
        }  
    </ol>
</section> -->