---
const { src, body, button } = Astro.props
---
<div class="mpp-simple-seo-block-model-1">
    <div class="mpp-simple-seo-block-model-1-wrap container">
        <img src={src} />

        <div class="mpp-simple-seo-block-model-1-side">
            <div class="mpp-simple-seo-block-model-1-body" set:html={body} />
            <a class="btn btn-default" href={button.link} target="_blank" rel="noopener noreferrer">{button.label}</a>
        </div>
    </div>
    

</div>

</div>

<style lang="scss" scoped>
    .mpp-simple-seo-block-model-1 {
        padding: 1.8125rem 2rem;
    }
    .mpp-simple-seo-block-model-1-wrap {
        
        @media (min-width: 992px) {
            padding: 2.3125rem 2rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 28px;
        }

        align-items: center;

        & p {
            width: 80%;
        }
    }
    .mpp-simple-seo-block-model-1-side {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 768px) {
            margin: .5rem 0 0;
        }

    }

    .mpp-simple-seo-block-model-1-body {
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }

    .btn {
        margin: .5rem 0 0;
        height: 34px;
        transition: ease .5s;
        font-weight: 700;
        min-width: 120px;
        border-radius: 15px;
        background: #f8714c;
        border: 1px solid #f8714c;
        color: #FFFFFF;
        &:hover {
            background: #FFFFFF;
            color: #f8714c;
        }
    }
</style>

<style is:global lang="scss">
    .mpp-simple-seo-block-model-1 {
        & h3 {
            margin: 0 0 0.6em;
            font-family: 'Montserrat', sans-serif;
        }
        & p {
            font-size: .8125rem;
            line-height: 1.5;
        }
    }
</style>