<div class="mpp-simple-seo-block-model-1 container">

    <img src="https://static.wow2print.com/storage/445/content/image/59471330665e881cc942ea5.07544289.webp" />

    <div class="mpp-simple-seo-block-model-1-side">
        <div class="mpp-simple-seo-block-model-1-body">
            <h3>Фотокнига за вас</h3>
            <p>Если у вас нет времени самостоятельно создать фотокнигу в онлайн-редакторе, наши дизайнеры сделают за вас.</p>
            <p>Воспользуйтесь услугой «Фотокнига за вас». Готовый макет от дизайнера будет в вашем личном кабинете, который можно сразу отправить в печать</p>
        </div>
        <a class="btn btn-default" href="#" target="_blank" rel="noopener noreferrer">Подробнее</a>
    </div>

</div>

</div>

<style lang="scss" scoped>
    .mpp-simple-seo-block-model-1 {
        padding: 1.8125rem 2rem;
        @media (min-width: 992px) {
            padding: 2.3125rem 2rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 28px;
        }

        align-items: center;

        & p {
            width: 80%;
        }
    }
    .mpp-simple-seo-block-model-1-side {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 768px) {
            margin: .5rem 0 0;
        }

    }

    .mpp-simple-seo-block-model-1-body {
        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }

    .btn {
        margin: .5rem 0 0;
        height: 34px;
        transition: ease .5s;
        font-weight: 700;
        min-width: 120px;
        border-radius: 15px;
    }
</style>