<div class="mpp-seo-text-2-columns">
    <div class="mpp-seo-text-2-columns-wrap container">
        
    </div>
</div>

<style lang="scss" scoped>
    .mpp-seo-text-2-columns {
        line-height: 1.7;
        overflow: hidden;
        max-height: 150px;
    }

    .mpp-seo-text-2-columns-wrap {
        column-count: 2;
        overflow: hidden;
    }
</style>