---
const {firstColumn, secondColumn} = Astro.props;
---

<div class="mpp-seo-text-2-columns">
    <div class="mpp-seo-text-2-columns-wrap container">
        <div class="mpp-seo-column" set:html={firstColumn} />
        <div class="mpp-seo-column" set:html={secondColumn} />
    </div>
</div>

<style lang="scss" scoped>
    .mpp-seo-text-2-columns {
        line-height: 1.7;
        overflow: hidden;
    }

    .mpp-seo-text-2-columns-wrap {
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.83em;
            max-height: 4em;
        }
    }

    .mpp-seo-column {
        font-size: .75rem;
    }
</style>