---
import Telegram from "../icons/Telegram.astro";
import Phone from "../icons/Phone.astro";
import Logo from "../icons/Logo.astro";
import Burger from "../icons/Burger.astro";
import MobileMenu from "./MobileMenu.astro";

const response = await fetch(`http://localhost:1337/api/navigation/render/mobile-menu?type=TREE`);
const data = await response.json();
---

<header class="mpp-header-mobile">
    <div class="container mpp-header-mobile-wrap">
        <div class="mpp-contacts">
            <a href="https://t.me/Myphotopages_bot" class="mpp-contacts-icon">
                <Telegram />
            </a>
            <a href="tel:88007750861" class="mpp-contacts-icon">
                <Phone />
            </a>
        </div>
        <Logo />
        <label for="mobile-menu-toggle">
            <Burger />
        </label>
        <input hidden id="mobile-menu-toggle" type="checkbox" name="">
        <MobileMenu />
    </div>
</header>

<style is:global lang="scss">
    .mpp-header-mobile {
        background: #FFFFFF;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 11;
    }
    @media (max-width: 768px) {
        .mpp-main-mobile-menu {
            opacity: 0;
            transform: translateX(calc(100% + 1em));
            transition: .5s ease;
            transition-property: opacity transform;
            /* width: 0; */
        }
        #mobile-menu-toggle:checked + .mpp-main-mobile-menu {
            transform: translateX(0);
            opacity: 1;
            /* width: 100%; */
        }
    }
</style>