---
import BaseLayout from "../BaseLayout.astro";
import GridBanners from "../components/GridBanners.astro";
import SEOBlockModelOne from "../components/SEOBlockModelOne.astro";
import Story from "../components/Story.astro";
import TwoColumnsSEOText from "../components/TwoColumnsSEOText.astro";
import Feature from '../components/Feature.astro';
import GetPhotoProductsOnlyMobile from '../components/GetPhotoProducts.astro';
import GiftSertificate from '../components/GiftSertificate.astro';

const response = await fetch(`http://localhost:1337/api/main-page?populate%5BContent%5D%5Bpopulate%5D=%2A`).then(res => res.json());
const data = response.data;


---

<BaseLayout>
    {
        data.attributes.Content.map( block =>
            <>
                {
                    (block?.MainSlider || block?.SideBanner) &&
                        <GridBanners
                            mainSliderData={block?.MainSlider}
                            sideBannersData={block?.SideBanner}
                        />
                }
                {
                    block.Stories &&
                        <section class="mpp-stories">
                            <div class="container">
                                <h2>{block.title}</h2>
                            </div>
                            <div class="mpp-stories-wrap container">
                                <ul class="mpp-stories-grid">
                                    {block.Stories?.map( item => <Story {...item} />)}
                                </ul>
                            </div>
                        </section>
                }
                {
                    block.Features &&
                        <section class="mpp-features">
                            <div class="container">
                                <h2>{block.title}</h2>
                            </div>
                            <div class="mpp-features-wrap container">
                                <ul class="mpp-features-grid">
                                    {block.Features?.map( item => <Feature {...item} />)}
                                </ul>
                            </div>
                        </section>
                }
                {
                    block.__component === "ui-blocks.seo-block-model-1" &&
                    <SEOBlockModelOne {...block} />
                }
                {
                    block.__component === "ui-blocks.seo-block-model-2" &&
                    <TwoColumnsSEOText {...block} />
                }
                
            </>
            
        )
    }
    <GetPhotoProductsOnlyMobile />
    <GiftSertificate />
</BaseLayout>

<style scoped lang="scss">
    /* Stories */
    .mpp-stories {
        padding: 2em 0;
        & h2 {
            font-size: 1.25rem;
            font-weight: 500;
            margin: 0 0 .5em;
        }
    }

    .mpp-stories-wrap {
        @media (max-width: 768px) {
            overflow-x: auto;
        }
    }

    .mpp-stories-grid {
        gap: 2em;
        display: flex;
        flex-flow: row;
        min-width: 100%;
        padding: 0.7em 0 0;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    /* Features */
    .mpp-features {
    padding: 2em 0;
    background-color: #F8714C;
    h2 {
        font-size: 1.25rem;
        font-weight: 500;
        color: #fff;
        margin: 0 0 .5em;
    }

}

    .mpp-features-wrap {
        overflow-x: auto;
    }

    .mpp-features-grid {
        display: flex;
        gap: 2em;
        display: flex;
        flex-flow: row;
        min-width: 100%;
        padding: 0.7em 0 0;
    }
</style>
