---
import MobileHeader from "../components/MobileHeader/MobileHeader.astro";
import MainMenu from "../components/MainMenu.astro";
import DesktopHeader from "../components/DesktopHeader/DesktopHeader.astro";


const response = await fetch(`http://localhost:1337/api/navigation/render/mobile-menu?type=TREE`);
const data = await response.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<!-- <link href="
		https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
		" rel="stylesheet"> -->
	</head>
	<body>
		<DesktopHeader />
		<MobileHeader />
		<MainMenu />
	</body>
</html>

<style is:global>
	*, *::after, *::before {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		margin: 0;
        color: #000;
		font-family: "Montserrat", sans-serif;
	}
	li {
		list-style-type: none;
	}
    a {
        color: #000;
		text-decoration: none;
    }
    a:hover {
        color: #F3704E;
    }
    img {
        max-width: 100%;
    }
	main {
		min-height: 100vh;
		background-color: antiquewhite;
	}
	.container {
		margin: 0 auto;
		background-color: #6f6f6f;
		padding: 0 2rem;
   		max-width: 1440px;
	}
</style>