---
import MobileHeader from "../components/MobileHeader/MobileHeader.astro";
import MainMenu from "../components/MainMenu.astro";
import DesktopHeader from "../components/DesktopHeader/DesktopHeader.astro";
import MobilePanel from "../components/MobilePanel.astro";
import Footer from "../components/Footer.astro";
import BaseLayout from "../BaseLayout.astro";
import GridBanners from "../components/GridBanners.astro";
---

<BaseLayout>
	<DesktopHeader />
	<MobileHeader />
	<MainMenu />
	<MobilePanel />
	<main>
		<GridBanners />
	</main>
	<Footer />
</BaseLayout>